# Ebay Car Sales Analysis
 - Understanding trend of data about car sales in Ebay

### The analysis outline
1. Load the data using pandas
    - You will notice that the UTF_8 will not decode this da
2. Review the overview of the your data set to know it and write one paragraph of the observation.
3. Convert the column dateCrawled into a Datetime object
4. Convert the price column value into interger to facilitate further analysis
5. Remove 'KM' from the odometer column
6. Rename the column names to give them more meaningful names and readable names

In [1]:
#import the libraries neede

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from datetime import *
import numpy as np
import time

#### STEP 1: Loading data into pandas

In [2]:
sales_auto = pd.read_csv('autos.csv',encoding = "latin-1")

#### STEP 2 : Review the the dataset to get an overview

In [3]:
sales_auto

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

#### Quick overview of the dataset
 - There is a number of Dates that are being represented as strings, this will need to change
 - Price column which is containing valueble information for the analysis is in contain the $ sign we will need to remove it to be able to perfom analysis.
 - Odometer column also will need to be changed to remove the KM word so that to allow the analysis

#### STEP 3: Lets change the dateCrawled  into a datetime object

In [4]:
#lets check what data type is the column DateCrawled
sales_auto['dateCrawled']

0        2016-03-26 17:47:46
1        2016-04-04 13:38:56
2        2016-03-26 18:57:24
3        2016-03-12 16:58:10
4        2016-04-01 14:38:50
                ...
49995    2016-03-27 14:38:19
49996    2016-03-28 10:50:25
49997    2016-04-02 14:44:48
49998    2016-03-08 19:25:42
49999    2016-03-14 00:42:12
Name: dateCrawled, Length: 50000, dtype: object

In [5]:
#from the cell above we have seen that the column is not a datetime object so we are going to change
sales_auto['dateCrawled'] = pd.to_datetime(sales_auto['dateCrawled'])

#Lets just make sure that we have done the conversation well
sales_auto['dateCrawled']

0       2016-03-26 17:47:46
1       2016-04-04 13:38:56
2       2016-03-26 18:57:24
3       2016-03-12 16:58:10
4       2016-04-01 14:38:50
                ...
49995   2016-03-27 14:38:19
49996   2016-03-28 10:50:25
49997   2016-04-02 14:44:48
49998   2016-03-08 19:25:42
49999   2016-03-14 00:42:12
Name: dateCrawled, Length: 50000, dtype: datetime64[ns]

#### STEP4: Convert the price column to interger and remove "$" and ","

In [6]:
#lets write a function which will take value in the column price and return the interger value

#define the function that takes one argument
#replace "$" and "," from the string that was passed as an argument
#convert the string into interger using int()
#Return the interger value


def convert_string_to_int(string):
    y = list(string)
    for i in range(len(y)):
        if y[i] == '$' or y[i]==',':
            y[i] = ''
    price = int("".join(y))
    return price

In [7]:
#unit testing the function above
assert convert_string_to_int('$78,000') == 78000
assert convert_string_to_int('$6,000') == 6000

In [8]:
#apply the function to the dataset
start = time.time()

sales_auto['price'] = sales_auto['price'].apply(convert_string_to_int)

end = time.time()
end-start

0.08556818962097168

#### STEP 5: Convert Odometer column to Interger and remove the "KM"

In [14]:
#lets make a function that will be used to remove the KM and convert the string to int

#define the function which takes one string argument
#using the access method drop the two last characters
#convert the string into int

def converting_odometer(string):
    string = string[:-2]
    string = string.replace(',','')
    return int(string)

In [16]:
type(converting_odometer('150,000km'))

int

In [17]:
#unit testing the function
assert converting_odometer('150,000km') == 150000
assert converting_odometer('70,000km') == 70000

In [18]:
#apply the function to the whole dataset
start = time.time()

sales_auto['odometer'] = sales_auto['odometer'].apply(converting_odometer)

end = time.time()

end -start

0.03892993927001953

In [19]:
sales_auto

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900,control,limousine,2011,automatik,239,q5,100000,1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,1980,control,cabrio,1996,manuell,75,astra,150000,5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200,test,cabrio,2014,automatik,69,500,5000,11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900,control,kombi,2013,manuell,150,a3,40000,11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,1250,control,limousine,1996,manuell,101,vectra,150000,1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48